body {
  background-color: #c9b5ab;
}

h1, h2 {
  font-family: "PT Sans";
  font-size: 1.5rem;
  color: #3f1622;
}

a:hover {
  color: #8f2440;
}

p {
  font-family: "PT Serif";
  font-size: 1.125rem;
  color: #222;
}
