html{

}

body {
  background-color: #c9b5ab;
}

.nav {
  font-family: "PT Sans";
  font-size: 1.5rem;
}

h1, h2{
  color: #3f1622;
}

image{

}

a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

p {
  font-family: "PT Serif";
  font-size: 1.125rem;
  color: #222;
}
